body {
    background-color: lightgray;
    font-family: Metropolis, sans-serif;
}

.header, .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #3e3f3f;
}

.row {
    width: 768px;
    margin: auto;
}

.item {
    height: 50px;
}

.form, .result {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #AAA;
    background-color: #EEEEEE;
    width: 400px;
}

.result {
    margin-left: auto; 
    margin-right: 0;
}